In [1]:
# Looping over a range of num
for i in [0,1,2,3,4,5]:
    print(i**2,end=' ')
print()
#pythonic-way
for i in range(6):
    print(i**2,end=' ')

0 1 4 9 16 25
0 1 4 9 16 25

In [2]:
li = [1,2,3,4,5]
for i in range(len(li)):
    print(li[i],end=' ')
print()
#pythonic-way
for i in li:
    print(i,end=' ')

1 2 3 4 5
1 2 3 4 5

In [3]:
# Looping from backwards
li = [1,2,3,4,5]
for i in range(len(li)-1,-1,-1):
    print(li[i],end=' ')
print()
#pythonic-way
for i in reversed(li):
    print(i,end=' ')

5 4 3 2 1
5 4 3 2 1

In [4]:
#looping over the collection with index
li=[1,2,3,4,5]
for i in range(len(li)):
    print(i,'-->',li[i])
print()
#pythonic-way
for i,a in enumerate(li):
    print(i,'-->',a)

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

In [5]:
# Looping over two collections
li=[1,2,3,4,5]
a = [1,2,3,4,5,6,8]
n=min(len(li),len(a))
for i in range(n):
    print(li[i],'',a[i])
print()

1  1
2  2
3  3
4  4
5  5

In [6]:
#looping in sorted oeder
#pyhtonic way
li=[8,125,16,9,2]
for i in sorted(li):
    print(i,end=' ')
print()
for i in sorted(li,reverse=True):
    print(i,end=' ')

2 8 9 16 125
125 16 9 8 2

In [7]:
#traditional approach
li = []
for i in range(10):
    a = i**2
    li.append(a)
print(sum(li))
print()
#pythonic way
print(sum(i**2 for i in range(10)))

285

285

In [8]:
li=[]
for i in range(10):
    li.append(i**2)
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
com_list=[i ** 2 for i in range(10)]
com_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
for i in li:
    if i%2 ==0:
        print(i,end=' ')

0 4 16 36 64

## Lambda Functions

In [11]:
def squre(n):
    return n*n
squre(10)

100

In [12]:
a=lambda X: X*X
print(a(10))

100

## Use of lambda with filter

In [13]:
def filterlist(list):
    a=[]
    for i in list:
        if i%2 == 0:
            a.append(i)    
    return a
list=[1,2,3,4,5,6,7,8]
filterlist(list)

[2, 4, 6, 8]

In [14]:
list1=[1,2,3,4,5,6,7,8]
lam_li=list(filter(lambda x: (x%2==0),list1))
print(lam_li)

TypeError: 'list' object is not callable

## Lambda with map()
- map() function in python takes in a functon an dlist argument

In [ ]:
#lambda with map
li=[1,2,3,4,5,6,7,8]
map_list= list(map(lambda x:))

In [ ]:
# lambda reduce()
# Functional Aproach
def sumList(li):
    s=0
    for i in li:
        s+=i
    return s
li=[1,2,3,4,5,6,7,8]
sumList(li)

In [ ]:
from functools import reduce
li=[1,2,3,4,5,6,7,8]
s=reduce((lambda x,y:x+y),li)
print(s)


### pandas
- Use Cases.
   - baa earning
   - Data Transfcrmation
   - Data ,Anaflysis
- Notations
   - Series
   - DataFrames

In [16]:
import pandas as pd
inter1={'s1':35,'s2':35,'s3':35}
inter2={'s1':45,'s2':45,'s3':45}
inter1=pd.Series(inter1)
inter2=pd.Series(inter2)
print(inter1)
print(inter2)

s1    35
s2    35
s3    35
dtype: int64
s1    45
s2    45
s3    45
dtype: int64

In [17]:
final={'inter1':inter1,'inter2':inter2}
final=pd.DataFrame(final)
print(final)

    inter1  inter2
s1      35      45
s2      35      45
s3      35      45

In [18]:
final.loc['s4']=[20,18]
final

    inter1  inter2
s1      35      45
s2      35      45
s3      35      45
s4      20      18

In [20]:
pwd

'C:\\Users\\cse319\\Desktop\\Python File\\Day1(16-09-2019)'

In [22]:
import pandas as pd
FilePath='DataFiles/Income.csv'
def readCsvData(FilePath):
    return pd.read_csv(FilePath)
df= readCsvData(FilePath)
print(df)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [26]:
for row in df.values:
    print(row[1],' : ',row[-1])

Alabama  :  41381
Alaska  :  61137
Arizona  :  50602
Arkansas  :  39919
California  :  57528